@import "fonts.scss";

/*---generic stuff---*/
html, body {
	width: 100%;
	height: 100%;
	margin:0 auto;
	padding: 0px;
	font-family: 'Atlas Grotesk Web', sans-serif;
	background-color: #000;
	font-size: calc(0.7em + 0.6vw);
}

input {
	font-size: 1.1em;
	border: none;
	font-family: 'Atlas Grotesk Web', sans-serif;
}

#projectDescription h3 {
    font-weight: 700;
		font-size:22px;
		max-width:530px;
}

h2, h3 {
	margin-top: 0px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    color: currentColor;
}

.hidden{
	display: none;
}

#logo{
	margin-left: 1rem;
	position:absolute;
}

#filter h3{
	font-family:'Atlas Grotesk Web';
	font-size: 18px;
	font-weight: 400;
}

.result .iconAfter:after {
	margin-top:0px;
}

.iconAfter:after {
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	content: "";
	opacity:.5;
	margin-top:2px;
	padding-left: 0.2em;
	background-color: currentColor;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    vertical-align: top;
}

.iconBefore:before {
	display: inline-block;
	width: 1em;
	height: 1em;
	content: "";
	margin-left: 6px;
	top:50%;
	transform: translate(100%,-50%);
	position:absolute;
	right: 0px;
	background-color: currentColor;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  vertical-align: top;
}

/*---header and footer---*/
.controlBar {
	width: 100%;
    position: absolute;
    left: 0px;
    color: #222;
    z-index: 1000000;
    background-color: #fff;
    display: flex;
    height: 2em;
		transition: height .25s;
}

#topBar {
    top: 0px;
}

#bottomBar {
	display: block;
	bottom: 0px;
	overflow: hidden;
}

/*a unit used a lot in the top and bottom bar*/
.barItem {
    display: inline-block;
    padding: 0.5em 0.4em;
    font-size: 0.8rem;
    color: #222;
    position: relative;
    flex: 0 1;
}

.barItem h3 {
	margin-bottom: 0px;
	white-space: nowrap;
	text-align: center;
	display: inline-block;
	position:relative;
}

.dropdown {
	cursor: pointer;
}

.closer {
	position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 1.5em;
    cursor: pointer;
}

.closer:after {
	-webkit-mask-image:  url("~./../images/x.svg");
    mask-image:  url("~./../images/x.svg");
}

/*---mostly footer stuff---*/
#bottomBar.readMore {
	height: 200px;
	transition: height .25s;
}

#bottomBar.fullyExpanded {
	height: 100%;
}

#bottomBar .projectMethods {
	display: none;
}

#bottomBar.fullyExpanded .projectMethods {
	display: block;
	    padding-bottom: 100px;
}

#bottomBarHolder {
	display: flex;
	margin: 0 auto;
}

#zoomIn {
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image:  url("~./../images/plus.svg");
	mask-image:  url("~./../images/plus.svg");
}

#zoomOut {
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image:  url("~./../images/minus.svg");
	mask-image:  url("~./../images/minus.svg");
}

#hiddenLogo {
	position: absolute;
	bottom: 4.5em;
    width: 6em;
	left: 0.4em;
	display: none;
	filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.8));
}

#projectDescription {
	padding: 0.2em;
  max-width: 800px;
  margin: 0 auto;
}

#projectDescription p {
	padding: 0.2em;
  max-width: 800px;
  margin: 0 auto;
	font-size: 16px;
	max-width: 530px;
	margin: 0 auto;
	line-height: 1.6;
	margin-bottom:1rem;
}

#projectDescription h3 {
	text-align: center;
}

#projectDescription h4 {
	font-family: 'Atlas Grotesk Web';
font-size: 18px;
max-width: 530px;
font-weight: 500;
margin: 0 auto;
margin-bottom: 30px;
}

#projectDescription .byline {
	text-align: center;
font-size: 14px;
margin-bottom: 10px;
margin-top: 6px;
}

.methodTitle {
	cursor: pointer;
}

.methodTitle::after {
	-webkit-mask-image:  url("~./../images/chevron-up.svg");
    mask-image:  url("~./../images/chevron-up.svg");
}

#bottomBar.fullyExpanded #projectDescription {
	height: calc(100%);
	overflow: scroll;
}

.fullyExpanded .methodTitle{
	display:none;
}

#zoomer {
	flex: 0 0 4.5em;
	position:absolute;
	right:0px;
}

#zoomer div{
	height: 1.75em;
	width: 2em;
	display: inline-block;
	cursor: pointer;
	background-color: #222;
}

#title {
	flex: 2 0;
	font-family: 'Canela Web';
	font-weight: 700;
  cursor: pointer;
	font-size:19px;
	padding:0px;

}

#title h3{
	padding:0px;
	line-height: 1.8;
}

#title h3::before {
	padding-right: 0.6em;
	-webkit-mask-image:  url("~./../images/help-circle.svg");
    mask-image:  url("~./../images/help-circle.svg");
}

.readMore #title h3::before, .fullyExpanded #title h3::before {
    -webkit-mask-image: url("~./../images/x-circle.svg");
    mask-image: url("~./../images/x-circle.svg");
}

/*for pudding logo*/
.barItem img {
	height: 1.75em;
}


/*---mostly header stuff---*/
#mainSearchHolder, #clearAll {
	background-color: unset;
	color: unset;
}

/*---the big search at the top of the page---*/
#mainSearch {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	white-space: nowrap;
	width: 300px;
	margin-left:37px;
}

#mainSearch input {
	width:100%;
}

#mainSearch::before {
	-webkit-mask-image:  url("~./../images/search.svg");
  mask-image:  url("~./../images/search.svg");
	left:-5px;
	top:50%;
	transform:translate(-100%,-50%);
	right:auto;
	margin-left: 0px;
	margin-right: 0px;
}

#mainSearchHolder {
	flex: 2 0;
	z-index: 2;
}

.searchHolder {
	height: 1.2em;
	margin-bottom: 0.6em;
	position:relative;
}

#filters .searchHolder > div {
	width:100%;
	margin-left: 19px;
}

.searchHolder::before {
	-webkit-mask-image:  url("~./../images/search.svg");
    mask-image:  url("~./../images/search.svg");
    font-size: 0.8em;
		right:auto;
		left:0px;
		transform:translate(-100%, -50%);
		right: auto;
		left: -3px;
		transform: translate(0%, -50%);
		top: 10px;
}

.searchHolder > div {
	width: 200px;
	display: inline-block;
	margin-left:37px;
}

.searchResultHolder {
	max-height: 22em;
	overflow: auto;
}

#bookSearch {
	box-sizing: border-box;
}

.searchResults {
    color: #222;
    z-index: 100000000000000;
    margin-left: -0.5em;
    margin-top: calc(0.2em + 1px);
    background-color: #fff;
    border-top: 1px solid #222;
    padding: 0px;
}

.searchEntry {
	border-bottom: 1px solid #222;
	cursor: pointer;
}

.searchEntry h4, .searchEntry h5 {
    margin: 0.5rem;
    pointer-events: none;
}

.searchEntry h5 {
	font-weight: normal;
}

/*---things in the filters panel---*/
.searchHolder h4 {
	margin-bottom: 0.25em;
    margin-top: 0.5em;
}

.sortType {
	border-bottom: 1px solid #000;
    padding-bottom: 0.5em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.75em;
}

.sortType label {
    background-color: #ddd;
    color: #666;
    flex: 2 1;
    text-align: center;
    padding: 0.5em;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #444;
    cursor: pointer;
	display: inline-block;
}

.sortType input[type=radio]:checked + label{
	background-color: #fff;
	color: #000;
}

.sortType label:first-of-type {
	border-left-width: 1px;
	border-radius: 5px 0px 0px 5px;
}

.sortType label:last-of-type {
	border-radius: 0px 5px 5px 0px;
}

.sortType.collapsed {
	display: none;
	border: none;
}

.sortType input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.filtTotal {
	text-align: right;
    font-size: 12px;
    color: #666;
}

.filtTotal p{
	margin: 0px;
}

.results {
	color: #000;
	font-size: 0.8rem;
    z-index: 10000;
    margin-top: 0.6em;
    position: relative;
}

.results button, #clearAll {
	appearance: none;
	-webkit-appearance: none;
  width: 100%;
  border: 1px solid #222;
  font-family: 'Atlas Grotesk Web', sans-serif;
  cursor: pointer;
  margin-top: 0.6em;
	font-size:12px;
border-radius: 4px;
background: #f1f0f0;
border: none;
}

/*not to be confused with searchResultHolder*/
.resultHolder {
	height: 10em;
	overflow: auto;
	margin-bottom:1.8em;
}

.searchHolder ~ .resultHolder {
	margin-bottom: 0px;
}

#clearAll {
	display: none;
	border-left: solid 1px #222;
}

#clearAll h3:before {
	content: "clear all";
}

.valName {
	flex-grow: 1;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 15vw;
}

.valName p{
	font-size: 14px;
	text-transform:capitalize;
}

.count {
	text-align: right;
	float: right;
	display: inline-block;
	font-size: 12px;
	opacity:.4;
	font-weight:500;
}

.selectedHolder {
	position: relative;
}

.results input.searchBar {
	width: calc(100% - 0.3em);
	font-size: 0.9em;
}

.searchBar:placeholder-shown + .searchClearer::after,
#bookSearch:placeholder-shown + .searchClearer::after{
	display: none;
}

.result {
	display: flex;
	margin: 0.2em 0em;
	width: 100%;
	margin-bottom:5px;
}
.result div {
	white-space: nowrap;
}

.result div p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin:0 auto;
}

.searchClearer {
	position: absolute;
	right: 0.2em;
	top:0px;
}

.searchClearer:after{
	cursor: pointer;
	-webkit-mask-image:  url("~./../images/x.svg");
    mask-image:  url("~./../images/x.svg");
	position: absolute;
    right: 0.2em;
    color: #444;
    line-height: 1.5em;
    height: 1.65em;
		top:50%;
		margin-top:0px;
		transform:translate(0,-50%);
		margin-top: 13px;
}

.dropDown {
	cursor: pointer;
}

.dropDown h3 {
	display: inline-block;
	white-space: nowrap;
}

.dropDown h3::after {
    -webkit-mask-image:  url("../images/chevron-up.svg");
    mask-image:  url("../images/chevron-up.svg");
}

.dropDown.closed h3::after {
	-webkit-mask-image:  url("~./../images/chevron-down.svg");
    mask-image:  url("~./../images/chevron-down.svg");
}

.checker::after {
	-webkit-mask-image:  url("~./../images/square.svg");
    mask-image:  url("~./../images/square.svg");
}

.checker.checked::after {
	-webkit-mask-image:  url("~./../images/check-square.svg");
    mask-image:  url("~./../images/check-square.svg");
}

#clearAll h3::after {
	-webkit-mask-image:  url("~./../images/x.svg");
    mask-image:  url("~./../images/x.svg");
}

.closed .results{
	display: none;
}

#filters {
	position: absolute;
	width: 100%;
	left: 0px;
	top:2em;
	background-color:#fff;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding-top: 0.2em;
}

#filters.collapsed {
	display: none;
}

#filters select {
	width: 1em;
	margin-left: 1.25em;
	vertical-align: bottom;
}

#filters .barItem h3 {
	font-family: 'Atlas Grotesk Web';
    text-transform: capitalize;
    font-weight: 500;
    text-align: left;
    font-size: 1.1em;
}

#filters .barItem {
	padding-left:1em;
	white-space: nowrap;
}


/*---popup with book info---*/
.overlay {
	background-color: #fff;
	width: 50%;
    padding: 0.75em;
    z-index: 100000;
    border: 2px solid;
    font-size: 0.8rem;
}

.overlay h1 {
	font-size: 1.75em;
	border-bottom: 1px solid #222;
}

.overlay h2 {
	font-size: 1.25em;
	display: inline-block;
	margin-right: 0.5em;
}

.overlayHeader {
	width:100%;
}

.overlayInfoDiv {
	margin-bottom: 0px;
	display: inline-block;
}

.overlayInfoDiv p {
	margin: 0.5rem 0.2rem;
	display: inline-block;
}

.overlayInfoDiv > p span:first-child {
	font-weight: bold;
}

.overlayInfoDiv p span:not(:first-child) {
	text-transform: lowercase;
}

.filteredOutMessage{
	color: #666;
	font-style: italic;
	margin-top: 0px;
}

/*---chips in the overlay---*/
.chipHolder {
	display: inline-block;
	cursor: default;
	position: relative;
	margin: 0px 5px 5px 0px;
}

.chip {
	background-color: #444;
    color: #fff;
    border: 2px solid #444;
    font-size: 0.8em;
}

.chip.unselectedFilter {
	background-color: #fff;
    color: #444;
    border: 2px solid #444;
}

.chip p {
	margin: 0px;
}

.chip p:first-child {
    padding: 5px 8px;
}

.chip .funnelIcon::after {
	-webkit-mask-image:  url("~./../images/filter.svg");
    mask-image:  url("~./../images/filter.svg");
	cursor: pointer;
}

.chipSelectionHolder{
	background-color: #fff;
	color: #000;
	position: absolute;
	font-size: 0.4rem;
	width: 100%;
}

/*---our openseadragan canvas---*/
#openseadragon {
	width: 100%;
    height: calc(100% - 4em);
    top: 2em;
    position: absolute;
    margin-bottom: 0px;
    padding: 0px;
}


@media (max-width: 800px){
	#filters {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#selected {
		display: none;
	}

	.results button {
		font-size: 12px;
		padding: 1px 2px 2px;
	}

}

@media (max-width: 600px){
	#bottomBar {
		height: 3em;
	}

	.barItem#title h3{
		white-space: normal;
	}
}

@media (max-width: 550px), (max-device-width: 600px){
	html, body, .main {
		font-size: calc(0.8em + 0.6vw);
	}

	.results .count {
		display: none;
	}

	.results .valName {
		margin-right: 0px;
	}

	.filtTotal {
		display: none;
	}

	#filters .barItem h3 {
		font-size: 1em;
	}

	#filters select {
		margin-left: 0.75em;
	}

	.valName{
		max-width: 21vw;
	}

	.barItem > select {
		display: none;
	}

}

@media (max-width: 475px), (max-device-width: 500px){
	#filters {
		grid-template-columns: 0.8fr 1fr 1fr 1fr;
	}

	.results button {
		display: none;
	}

	#filters .barItem {
    	padding-left: 0.5em;
	}

	#filters {
		padding-bottom: 2em;
	}

	#clearAll {
		display: block;
		bottom: 0.5em;
    	margin-left: 0.8em;
    	width: calc(100% - 1.6em);
	    position: absolute;
	}

	.resultHolder {
		font-size: 0.85em;
	}

	#logo {
		display: none;
	}

	#hiddenLogo {
		display: block;
	}

	#title h3 {
		text-align: left;
	}

	#title h3::before {
		float: left;
		height: 2em;
		margin-right: 0.8em;
	}


}

@media (max-width: 360px), (max-device-width: 360px){
	#bottomBar {
		height: 4.4em;
	}

	#title h3::before {
		height: 2em;
    	margin-bottom: 1em;
	}

	#filters .barItem h3 {
		font-size: 0.8em;
	}


}
