@import "fonts.scss";

html, body, .main {
	width: 100%;
	height: 100%;
	margin:0 auto;
	padding: 0px;
	font-family: 'Atlas Grotesk Web', sans-serif;
	background-color: #000;
	font-size: calc(0.7em + 0.6vw);
}

input {
	font-size: 1.1em;
	border: none;
	font-family: 'Atlas Grotesk Web', sans-serif;
}

h1, h2, h3, h4, .barItem h3, #projectDescription h3 {
	font-family: 'Canela Web';
    font-weight: 700 !important;
}

a {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    color: currentColor;
}

.main {
	position: absolute;
	left: 0px;
	width: 100%;
}

.main #mainCanvas {
	width: 100%;
	height: 100%;
}

.filterControls {
	overflow: hidden;
}

.filterList .widgetHolder {
	overflow: visible;
}

.controlBar {
	width: 100%;
    position: absolute;
    left: 0px;
    color: #222;
    z-index: 1000000;
    background-color: #fff;
    display: flex;
    height: 2em;
}

#topBar {
    top: 0px;
    border-bottom: 1px solid #222;
}

#bottomBar {
	display: block;
	bottom: 0px;
	overflow: hidden;
	border-top: 1px solid #222;
}

#bottomBar.readMore {
	height: unset;
}

#bottomBar.fullyExpanded {
	height: 100%;
}

#bottomBar .projectMethods {
	display: none;
}

#bottomBar.fullyExpanded .projectMethods {
	display: block;
	height: calc(100% - 5em);
}

#bottomBarHolder {
	display: flex;
	border-bottom: 1px #222 solid;
}

#projectDescription {
	padding: 0.2em;
    max-width: 800px;
    margin: 0 auto;
}

#projectDescription h3 {
	text-align: center;
}

.methodTitle {
	cursor: pointer;
}

.methodTitle::after {
	-webkit-mask-image:  url("~./../images/chevron-up.svg");
    mask-image:  url("~./../images/chevron-up.svg");
}

#bottomBar.fullyExpanded #projectDescription {
	height: calc(100% - 5em);
	overflow: scroll;
}

.barItem {
    display: inline-block;
    padding: 0.5em 0.4em;
    font-size: 0.8rem;
    color: #222;
    position: relative;
    flex: 0 1;
}

.byline {
	text-align: center;
}

#zoomer {
	flex: 0 0 4.5em;
}

#zoomer div{
	height: 1.75em;
	width: 2em;
	display: inline-block;
	cursor: pointer;
	background-color: #222;
}

.barItem img {

	height: 1.75em;
}

#mainSearchHolder, #clearAll {
	background-color: unset;
	color: unset;
}

#title {
	flex: 2 0;
	font-family: 'Canela Web';
    font-weight: 700;
    padding-left: 0.2em;
    cursor: pointer;
}

#title h3{
	font-weight: 700;
}

#title h3::before {
	padding-right: 0.6em;
}

.barItem h3 {
	margin-bottom: 0px;
	white-space: nowrap;
	text-align: center;
	display: inline-block;
}

.dropdown {
	cursor: pointer;
}

.closer {
	position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 1.5em;
    cursor: pointer;
}

.closer:after {
	-webkit-mask-image:  url("~./../images/x.svg");
    mask-image:  url("~./../images/x.svg");
}


h1, h2, h3 {
	font-weight: normal;
}

h2, h3 {
	margin-top: 0px;
}


.overlay {
	background-color: #fff;
	width: 50%;
    padding: 0.75em;
    z-index: 100000;
    border: 2px solid;
    font-size: 0.8rem;
}

.overlay h1 {
	font-size: 1.75em;
	border-bottom: 1px solid #222;
}

.overlay h2 {
	font-size: 1.25em;
	display: inline-block;
	margin-right: 0.5em;
}

.overlayHeader {
	width:100%;
}

.overlayInfoDiv {
	margin-bottom: 0px;
	display: inline-block;
}

.overlayInfoDiv p {
	margin: 0.5rem 0.2rem;
	display: inline-block;
}

.overlayInfoDiv > p span:first-child {
	font-weight: bold;
}

.overlayInfoDiv p span:not(:first-child) {
	text-transform: lowercase;
}

.filteredOutMessage{
	color: #666;
	font-style: italic;
	margin-top: 0px;
}

#mainSearch {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	white-space: nowrap;
	width: 100%;
}

#mainSearch input {
	width: calc(100% - 1.7em);
}

#mainSearchHolder {
	flex: 2 0;
	z-index: 2;
}

.searchHolder {
	height: 1.2em;
	margin-bottom: 0.6em;
}

.searchHolder::before {
	-webkit-mask-image:  url("~./../images/search.svg");
    mask-image:  url("~./../images/search.svg");
    font-size: 0.8em;
}

.searchHolder > div {
	width: calc(100% - 2em);
	display: inline-block;
}

#bookSearch {
	box-sizing: border-box;
}

.searchResults {
    color: #222;
    z-index: 100000000000000;
    margin-left: -0.5em;
    margin-top: calc(0.2em + 1px);
    background-color: #fff;
    border-top: 1px solid #222;
    padding: 0px;
}

.hidden{
	display: none;
}
.searchEntry {
	border-bottom: 1px solid #222;
	cursor: pointer;
}

.searchEntry h4, .searchEntry h5 {
    margin: 0.5rem;
    pointer-events: none;
}

.searchEntry h5 {
	font-weight: normal;
}

#openseadragon {
	width: 100%;
    height: calc(100% - 4em);
    top: 2em;
    position: absolute;
    margin-bottom: 0px;
    padding: 0px;
}

/*dropdown stuff*/

.searchHolder h4 {
	margin-bottom: 0.25em;
    margin-top: 0.5em;
}

.sortType {
	border-bottom: 1px solid #000;
    padding-bottom: 0.5em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.75em;
}

.sortType label {
    background-color: #ddd;
    color: #666;
    flex: 2 1;
    text-align: center;
    padding: 0.5em;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #444;
    cursor: pointer;
	display: inline-block;
}

.sortType input[type=radio]:checked + label{
	background-color: #fff;
	color: #000;
}

.sortType label:first-of-type {
	border-left-width: 1px;
	border-radius: 5px 0px 0px 5px;
}

.sortType label:last-of-type {
	border-radius: 0px 5px 5px 0px;
}

.sortType.collapsed {
	display: none;
	border: none;
}

.sortType input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.filtTotal {
	text-align: right;
    font-size: 0.65em;
    color: #666;
}

.filtTotal p{
	margin: 0px;
}

.results {
	color: #000;
	font-size: 0.8rem;
    z-index: 10000;
    margin-top: 0.6em;
    position: relative;
}

.results button, #clearAll {
	appearance: none;
	-webkit-appearance: none;
    width: 100%;
    font-family: "Publica";
    border: 1px solid #222;
    font-family: 'Atlas Grotesk Web', sans-serif;
    cursor: pointer;
    margin-top: 0.6em;
}

#clearAll {
	display: none;
}

.resultHolder {
	height: 10em;
	overflow: auto;
	margin-bottom:1.8em;
}

.searchHolder ~ .resultHolder {
	margin-bottom: 0px;
}

.searchResultHolder {
	max-height: 22em;
	overflow: auto;
}

.valName {
	margin-right: 10px;
}

#searchHolder input.searchBar {
	width: calc(100% - 7px);
}

.selectedHolder {
	position: relative;
}

.results input.searchBar {
	width: calc(100% - 0.3em);
	font-size: 0.9em;
}

.searchBar:placeholder-shown + .searchClearer::after,  
#bookSearch:placeholder-shown + .searchClearer::after{
	display: none;
}

.result {
	position: absolute;
	display: flex;
	margin: 0.2em 0em;
	width: 100%;
}
.result div {
	white-space: nowrap;
}

.result div:nth-child(2n){
	flex-grow: 1;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 15vw;
}

.result div:nth-child(3n){
	font-size: 0.65em;
	line-height: 2.8em;
}


.result div p {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0.2em 0em;
}

.count {
	text-align: right;
	float: right;
	display: inline-block;
}

.iconAfter:after {
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	content: "";
	padding-left: 0.2em;
	background-color: currentColor;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    vertical-align: top;
}

.iconBefore:before {
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	content: "";
	padding-right: 0.2em;
	background-color: currentColor;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    vertical-align: top;
}

.dropDown {
	cursor: pointer;
}

.dropDown h3 {
	display: inline-block;
	white-space: nowrap;
}

.dropDown h3::after {
    -webkit-mask-image:  url("../images/chevron-up.svg");
    mask-image:  url("../images/chevron-up.svg");
}

.dropDown.closed h3::after {
	-webkit-mask-image:  url("~./../images/chevron-down.svg");
    mask-image:  url("~./../images/chevron-down.svg");
}

.checker::after {
	-webkit-mask-image:  url("~./../images/square.svg");
    mask-image:  url("~./../images/square.svg");
}

.checker.checked::after {
	-webkit-mask-image:  url("~./../images/check-square.svg");
    mask-image:  url("~./../images/check-square.svg");
}

#mainSearch::before {
	-webkit-mask-image:  url("~./../images/search.svg");
    mask-image:  url("~./../images/search.svg");
}

#title h3::before {
	-webkit-mask-image:  url("~./../images/help-circle.svg");
    mask-image:  url("~./../images/help-circle.svg");
}

.readMore #title h3::before, .fullyExpanded #title h3::before {
    -webkit-mask-image: url("~./../images/x-circle.svg");
    mask-image: url("~./../images/x-circle.svg");
}

.searchClearer {
	position: absolute;
	right: 0.2em;
	top:0px;
}


.searchClearer:after{
	cursor: pointer;
	-webkit-mask-image:  url("~./../images/x.svg");
    mask-image:  url("~./../images/x.svg");
	position: absolute;
    right: 0.2em;
    color: #444;
    line-height: 1.5em;
    height: 1.65em;
}

#clearAll h3::after {
	-webkit-mask-image:  url("~./../images/x.svg");
    mask-image:  url("~./../images/x.svg");
}

#clearAll {
	border-left: solid 1px #222;
}

#clearAll h3:before {
	content: "clear all";
}

.closed .results{
	display: none;
}

#filters {
	position: absolute;
	width: 100%;
	left: 0px;
	top:2em;
	background-color:#fff; 
	border-top: 1px solid #444;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding-top: 0.2em;
	border-bottom: 1px solid #222;
}

#filters.collapsed {
	display: none;
}

#filters select {
	width: 1em;
	margin-left: 1.25em;
	vertical-align: bottom;
}


#filters .barItem h3 {
	font-family: 'Canela Web';
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    font-size: 1.1em;
}

#filters .barItem {
	padding-left:1em;
	white-space: nowrap;
}

/*active filters styles*/
.chipHolder {
	display: inline-block;
	cursor: default;
	position: relative;
	margin: 0px 5px 5px 0px;
}

.chip {
	background-color: #444;
    color: #fff;
    border: 2px solid #444;
    font-size: 0.8em;
}

.chip.unselectedFilter {
	background-color: #fff;
    color: #444;
    border: 2px solid #444;
}

.chip p {
	margin: 0px;
}

.chip p:first-child {
    padding: 5px 8px;
}

.chip .funnelIcon::after {
	-webkit-mask-image:  url("~./../images/filter.svg");
    mask-image:  url("~./../images/filter.svg");
	cursor: pointer;
}

.chipSelectionHolder{
	background-color: #fff;
	color: #000;
	position: absolute;
	font-size: 0.4rem;
	width: 100%;
}

/*override rectangular region in navigator*/
.displayregion {
	border: 2px solid rgb(255, 255, 255) !important;
}

/*custom zoom button holders*/
#zoomBar {
	position: fixed;
    bottom: 0.2em;
    right: 0.2em;
    width: 2em;
    height: 4em;
    background-color: #444;
    box-sizing: border-box;
}

#zoomBar div:first-child {
	border-bottom: solid 1px #222;
}

#zoomBar > div {
	height: 2em;
}

#zoomBar div > div {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	height: 2em;
	width: 100%;
    background-size: cover;
    background-color: #fff;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
}

#zoomIn {
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image:  url("~./../images/plus.svg");
	mask-image:  url("~./../images/plus.svg");
}

#zoomOut {
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image:  url("~./../images/minus.svg");
	mask-image:  url("~./../images/minus.svg");
}

#hiddenLogo {
	position: absolute;
	bottom: 4.5em;
    width: 6em;
	left: 0.4em;
	display: none;
	filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.8));
}

@media (max-width: 800px){
	#filters {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#selected {
		display: none;
	}

	.results button {
		font-size: 0.65em;
		padding: 1px 2px 2px;
	}

}

@media (max-width: 600px){
	#bottomBar {
		height: 3em;
	}

	.barItem#title h3{
		white-space: normal;
	}
}

@media (max-width: 550px), (max-device-width: 600px){
	html, body, .main {
		font-size: calc(0.8em + 0.6vw);
	}

	.results .count {
		display: none;
	}

	.results .valName {
		margin-right: 0px;
	}

	.filtTotal {
		display: none;
	}

	#filters .barItem h3 {
		font-size: 1em;
	}

	#filters select {
		margin-left: 0.75em;
	}

	.result div:nth-child(2n){
		max-width: 21vw;
	}

	.barItem > select {
		display: none;
	}

}

@media (max-width: 475px), (max-device-width: 500px){
	#filters {
		grid-template-columns: 0.8fr 1fr 1fr 1fr;
	}

	.results button {
		display: none;
	}

	#filters .barItem {
    	padding-left: 0.5em;
	}

	#filters {
		padding-bottom: 2em;
	}

	#clearAll {
		display: block;
		bottom: 0.5em;
    	margin-left: 0.8em;
    	width: calc(100% - 1.6em);
	    position: absolute;
	}

	.resultHolder {
		font-size: 0.85em;
	}

	#logo {
		display: none;
	}

	#hiddenLogo {
		display: block;
	}

	#title h3 {
		text-align: left;
	}

	#title h3::before {
		float: left;
		height: 2em;
		margin-right: 0.8em;
	}


}

@media (max-width: 360px), (max-device-width: 360px){
	#bottomBar {
		height: 4.4em;
	}

	#title h3::before {
		height: 2em;
    	margin-bottom: 1em;
	}

	#filters .barItem h3 {
		font-size: 0.8em;
	}


}
