		html, body, .main {
			width: 100%;
			height: 100%;
			margin:0 auto;
			padding: 0px;
			font-family: 'Work Sans', sans-serif;
			background-color: #444;
		}

		.main {
			position: absolute;
			left: 0px;
			/*width: 100%;*/
			width: calc(100% - 375px);
			overflow: hidden;
		}

		.main #mainCanvas {
			width: 100%;
			height: 100%;
		}

		#magnifier {
			width: 300px;
			height: 300px;
			overflow: hidden;
			position: absolute;
			background-color: orange;
			border-radius:150px;
			border-color: #ffffff;
			border-width: 5px;
			border-style: solid;
			box-shadow:inset 0px 0px 30px 20px rgba(0,0,0,0.1), 0px 0px 10px 0px rgba(0,0,0,.6);
		}

	
		.controls {
			padding: 10px 5px 20px 20px;
			position: fixed;
			right: 0px;
			top: 0px;
			width: 350px;
			height: 100%;
			background-color: rgba(255, 255, 0, 1);
			font-size: 60%;
		}

		.controls .halfWidth {
			width: 50%;
			float: left;
		}

		.controls .halfWidth:after {
			content: ".";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}

		.controls svg {
			width: 100%;
			height: 50px;
		}

		.controls h1, h2 {
			margin-top: 0px;
			font-weight: normal;
		}

		.table {
			max-height: 160px;
			margin-bottom: 15px;
			cursor: pointer;
			float: left;
		}

		.tableHolder {
			height: 130px;
			overflow: scroll;
		}

		.controls tr svg {
			height: 10px;
			width: 100%;
		}