

@import "fonts.scss";

$iconHighlight: #e21441;

/*---generic stuff---*/
html, body {
	width: 100%;
	height: 100%;
	margin:0 auto;
	padding: 0px;
	font-family: 'Atlas Grotesk Web', sans-serif;
	background-color: #000;
	font-size: calc(0.7em + 0.6vw);
	overflow: hidden;
}

input {
	font-size: 1.1em;
	border: none;
	font-family: 'Atlas Grotesk Web', sans-serif;
}

.project-top-line{
	width: 100%;
	display:flex;
	justify-content: center;
	margin-top: 10px;
}

#projectDescription h3 {
    font-weight: 700;
		font-size:22px;
		max-width:530px;
}

h2, h3 {
	margin-top: 0px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    color: currentColor;
}

.hidden{
	display: none;
}

#logo{
	width:100px;
	display:block;
	text-decoration: none;
	border: none;
	img{
		width:100%;
	}
	@media screen and (max-width: 700px){
		opacity: .5;
	}
}

#filter h3{
	font-family:'Atlas Grotesk Web';
	font-size: 18px;
	font-weight: 400;
}

.result .iconAfter:after {
	margin-top:0px;
}

.iconAfter:after {
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	content: "";
	opacity:.5;
	margin-top:2px;
	padding-left: 0.2em;
	background-color: currentColor;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  vertical-align: top;
	background: #a0a0a0;
}

.iconBefore:before {
	display: inline-block;
	width: 1em;
	height: 1em;
	content: "";
	top:.5rem;
	transform: translate(0%, 0%);
	position:absolute;
	right: .5rem;
	background-color: currentColor;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  vertical-align: top;
	@media screen and (max-width: 400px){
		top: 12px;
	}
}

/*---header and footer---*/
.controlBar {
	width: 100%;
  position: absolute;
  left: 0px;
  color: #222;
  z-index: 1000000;
  background-color: #fff;
  display: flex;
}

#topBar {
  top: 0px;
	transform: translate(0,-100%);
	transition: transform .25s;
}

#bottomBar {
	display: block;
	bottom: 0px;
}

/*a unit used a lot in the top and bottom bar*/
.barItem {
    padding: 0.5em 0.4em;
    font-size: 0.8rem;
    color: #222;
    flex: 0 1;
}

.barItem h3 {
	margin-bottom: 0px;
	text-align: center;
}

.dropdown {
	cursor: pointer;
}

.closer {
	position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 1.5em;
    cursor: pointer;
}

.closer:after {
	-webkit-mask-image:  url("~./../images/x.svg");
    mask-image:  url("~./../images/x.svg");
}

/*---mostly footer stuff---*/

#bottomBar {
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

#projectDescription {
	display: none;
}

#bottomBar.readMore {
	max-height: unset;
}

#bottomBar.readMore #projectDescription {
	display: block;
	transition: height .25s;
}

#bottomBar.fullyExpanded {
	height: 100%;
}

#bottomBar .projectMethods {
	display: none;
}

#bottomBar.fullyExpanded .projectMethods {
	display: block;
	padding-bottom: 100px;
	@media screen and (max-width: 800px){
		padding-bottom: 200px;
	}

	h4{
		max-width: 90%;
	}
	p {
		text-align:left;
		font-size: 16px;
		max-width: 90%;
		width: 90%;
	}
}

#bottomBarHolder {
	display: flex;
}

#bottomBar.readMore #bottomBarHolder {
	margin: 0 auto;
	flex-wrap:wrap;
}

#zoomIn {
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image:  url("~./../images/plus.svg");
	mask-image:  url("~./../images/plus.svg");
}

#zoomOut {
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image:  url("~./../images/minus.svg");
	mask-image:  url("~./../images/minus.svg");
}

#hiddenLogo {
	position: relative;
    width: 0px;
    height: 0px;
	display: none;
}

#hiddenLogo img {
	position: absolute;
	width: 6em;
	height: auto;
	filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.8));
	left: 0.4em;
    bottom: 0.4em;
}

.collapsed{
	height:2em;
	.project-top-line{
		position: absolute;
		width:100px;
		left:0px;
		top:50%;
		transform: translate(0,-50%);
		margin-top: 3px;
    margin-left: 15px;
		.byline{
			display:none;
		}
	}
	#title h3{
		font-size:22px;
	}
	@media screen and (max-width: 950px){
		height:3em;
		@media screen and (max-width: 800px){
			height:4em;
		}
		@media screen and (max-width: 400px){
			height:5em;
		}
		#title{
			display:flex;
			justify-content: flex-end;
			h3{
				text-align: right;
				padding-right: 0px;
				font-family: 'Atlas Grotesk Web';
				font-size:20px;
				font-size: 15px;
				line-height: 28px;
				max-width: 350px;
				margin:0;
				margin-right:1.8rem;
				line-height: 1.4;
				height: 3.7rem;
				margin-top: .3em;
				@media screen and (max-width: 700px){
					margin-right:2rem;
				}
				@media screen and (max-width: 500px){
					max-width: 280px;
				}
				@media screen and (max-width: 400px){
					max-width: 230px;
					font-size: 13px;
					margin-top: 10px;
				}
				@media screen and (max-width: 350px){
					max-width: 160px;
				}

			}
		}


	}
}

#projectDescription {
	padding: 0.2em;
  max-width: 800px;
  margin: 0 auto;
}

#projectDescription p {
	padding: 0.2em;
  max-width: 800px;
  margin: 0 auto;
	font-size: 18px;
	max-width: 530px;
	margin: 0 auto;
	line-height: 1.6;
	text-align: center;
	margin-bottom:1rem;
	@media screen and (max-width: 700px){
		font-size: 14px;
		max-width:90%;
	}
}

#projectDescription h3 {
	text-align: center;
}

#projectDescription h4 {
	font-family: 'Atlas Grotesk Web';
	font-size: 18px;
	max-width: 530px;
	font-weight: 500;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 50px;
}

.byline {
	margin:0px;
	text-align: center;
	font-size: 15px;
	margin: 0px;
	align-self: center;
	margin-left: 20px;
	margin-top: -6px;
	@media screen and (max-width: 700px){
		display: none;
	}
}

.byline-mobile{
	display:none;
	@media screen and (max-width: 700px){
		display: initial;
		margin-right: 5px;
		font-weight:500;
	}

}

.methodTitle {
	cursor: pointer;
}

.methodTitle::after {
	color: $iconHighlight;
	-webkit-mask-image:  url("~./../images/chevron-up.svg");
    mask-image:  url("~./../images/chevron-up.svg");
}

#bottomBar.fullyExpanded #projectDescription {
	height: calc(100%);
	overflow: scroll;
}

.fullyExpanded .methodTitle{
	display:none;
}

#zoomer {
	position: absolute;
	    right: 0px;
	    bottom: 2.5rem;
	    display: flex;
	    top: 0px;
	    transform: translate(0,-100%);
	    height: 33px;
}

#zoomer .zoom-button-container{
	background: white;
	margin-right:5px;
	width:32px;
	height:30px;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5607);
	border-radius: 2px;
}
#zoomer .zoom-button{
	height: 1.75em;
	margin:0 auto;
	width: 23px;
	cursor: pointer;
	background-color: #222;
	margin-top: 3px;
}




#title {
	flex: 2 0;
	font-family: 'Canela Web';
	font-weight: 700;
  cursor: pointer;
	font-size:19px;
	padding:0px;

}

#title h3{
	padding:0px;
	line-height: 1.8;
	font-size: 32px;
	@media screen and (max-width: 1000px) {
		font-size: 28px;
	}
	@media screen and (max-width: 950px){
		font-size: 22px;
	}
	@media screen and (max-width: 700px){
		max-width: 600px;
		font-size: 24px;
		margin: 0 auto;
		line-height: 1.4;
		width:90%;
	}
}





#title h3::before {
	color: $iconHighlight;
	padding-right: 0.6em;
	-webkit-mask-image:  url("~./../images/help-circle.svg");
    mask-image:  url("~./../images/help-circle.svg");
}

.readMore #title h3::before, .fullyExpanded #title h3::before {
    -webkit-mask-image: url("~./../images/x-circle.svg");
    mask-image: url("~./../images/x-circle.svg");
}

/*for pudding logo*/
.barItem img {
	height: 1.75em;
}


/*---mostly header stuff---*/
#mainSearchHolder, #clearAll {
	background-color: unset;
	color: unset;
}

#filter h3::after{
	color: $iconHighlight;
}

/*---the big search at the top of the page---*/
#mainSearch {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	white-space: nowrap;
	width: 300px;
	margin-left:37px;
	height: 100%;
	@media screen and (max-width: 600px){
		width: 200px;
		margin-left: 23px;
	}
}

#mainSearch input {
	width:100%;
	height: 100%;
}

#mainSearch::before {
	-webkit-mask-image:  url("~./../images/search.svg");
  mask-image:  url("~./../images/search.svg");
	left:-5px;
	top:50%;
	transform:translate(-100%,-50%);
	right:auto;
	margin-left: 0px;
	margin-right: 0px;
}

#mainSearchHolder {
	flex: 2 0;
	z-index: 2;
}

.searchHolder {
	height: 1.2em;
	margin-bottom: 0.6em;
	position:relative;
	display: none;
}

#filters .searchHolder > div {
	width:100%;
	margin-left: 19px;
}

.searchHolder::before {
	-webkit-mask-image:  url("~./../images/search.svg");
    mask-image:  url("~./../images/search.svg");
    font-size: 0.8em;
		right:auto;
		left:0px;
		transform:translate(-100%, -50%);
		right: auto;
		left: -3px;
		transform: translate(0%, -50%);
		top: 10px;
}

.searchHolder > div {
	width: 200px;
	display: inline-block;
	margin-left:37px;
}

.searchResultHolder {
	max-height: 22em;
	overflow: auto;
}

#bookSearch {
	box-sizing: border-box;
}

.searchResults {
	color: #222;
	z-index: 100000000000000;
	margin-left: -0.5em;
	background-color: #fff;
	border-top: 1px solid #222;
	padding: 0px;
	position: absolute;
	top: calc(100% + .5em);
}

.searchEntry {
	border-bottom: 1px solid #222;
	cursor: pointer;
}

.searchEntry h4, .searchEntry h5 {
    margin: 0.5rem;
    pointer-events: none;
}

.searchEntry h5 {
	font-weight: normal;
}

/*---things in the filters panel---*/
.searchHolder h4 {
	margin-bottom: 0.25em;
    margin-top: 0.5em;
}

.sortType {
	border-bottom: 1px solid #000;
    padding-bottom: 0.5em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.75em;
}

.sortType label {
    background-color: #ddd;
    color: #666;
    flex: 2 1;
    text-align: center;
    padding: 0.5em;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #444;
    cursor: pointer;
	display: inline-block;
}

.sortType input[type=radio]:checked + label{
	background-color: #fff;
	color: #000;
}

.sortType label:first-of-type {
	border-left-width: 1px;
	border-radius: 5px 0px 0px 5px;
}

.sortType label:last-of-type {
	border-radius: 0px 5px 5px 0px;
}

.sortType.collapsed {
	display: none;
	border: none;
}

.sortType input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}


.results {
	color: #000;
	font-size: 0.8rem;
    z-index: 10000;
    margin-top: 0.6em;
    position: relative;
}

.results button, #clearAll {
	appearance: none;
	-webkit-appearance: none;
  width: 100%;
  border: 1px solid #222;
  font-family: 'Atlas Grotesk Web', sans-serif;
  cursor: pointer;
  margin-top: 0.6em;
	font-size:12px;
	border-radius: 4px;
	background: #f1f0f0;
	border: none;
	display:none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border: 3px solid white;
	z-index: 100000000000;
}

/*not to be confused with searchResultHolder*/
.resultHolder {
	height: 8em;
	overflow: auto;
	padding-bottom: 30px;
}



.searchHolder ~ .resultHolder {
	margin-bottom: 0px;
	position: relative;
	z-index: 0;
}

.bottom-gradient {
	position:absolute;
	bottom: 0px;
	left:0px;
	width:100%;
	z-index:100000;
	background: linear-gradient(0deg, white 2%, rgba(255, 255, 255, 0) 20%);
	pointer-events: none;
	height:100%;
}

#clearAll {
	display: none;
	visibility: hidden;
}

#clearAll h3:before {
	content: "clear all";
}

.valName {
	flex-grow: 1;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 15vw;
	padding-left: 4px;
	margin-right:5px;
}

.valName p{
	font-size: 14px;
	text-transform:capitalize;
	@media screen and (max-width: 1000px){
		font-size: 12px;
	}
}

.count {
	text-align: right;
	float: right;
	display: inline-block;
	font-size: 12px;
	opacity:.4;
	font-weight:500;
}

.selectedHolder {
	position: relative;
}

.results input.searchBar {
	width: calc(100% - 0.3em);
	font-size: 0.9em;
}

.searchBar:placeholder-shown + .searchClearer::after,
#bookSearch:placeholder-shown + .searchClearer::after{
	display: none;
}

.result {
	display: flex;
	margin: 0.2em 0em;
	width: 100%;
	margin-bottom:5px;
}
.result div {
	white-space: nowrap;
}

.result div p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin:0 auto;
	cursor:pointer;
}

.searchClearer {
	position: absolute;
	right: 0.2em;
	top:0px;
}

.searchClearer:after{
	cursor: pointer;
	-webkit-mask-image:  url("~./../images/x.svg");
    mask-image:  url("~./../images/x.svg");
	position: absolute;
    right: 0.2em;
    color: #444;
    line-height: 1.5em;
    height: 1.65em;
		top:50%;
		margin-top:0px;
		transform:translate(0,-50%);
		margin-top: 13px;
}

.dropDown {
	cursor: pointer;
}

.dropDown h3 {
	display: inline-block;
	white-space: nowrap;
}

.dropDown h3::after {
    -webkit-mask-image:  url("../images/chevron-up.svg");
    mask-image:  url("../images/chevron-up.svg");
}

.dropDown.closed h3::after {
	-webkit-mask-image:  url("~./../images/chevron-down.svg");
    mask-image:  url("~./../images/chevron-down.svg");
}

.checker::after {
	-webkit-mask-image:  url("~./../images/square.svg");
    mask-image:  url("~./../images/square.svg");
}

.checker.checked::after {
	-webkit-mask-image:  url("~./../images/check-square.svg");
    mask-image:  url("~./../images/check-square.svg");
}

#clearAll h3::after {
	-webkit-mask-image:  url("~./../images/x.svg");
    mask-image:  url("~./../images/x.svg");
}

.closed .results{
	display: none;
}

#filters {
	position: absolute;
	width: 100%;
	left: 0px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 1px solid #e6e6e6;
	top: 100%;
}

#filters.collapsed {
	display: none;
}



#filters .barItem h3 {
	font-family: 'Atlas Grotesk Web';
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
	display: block;
  font-size: 1.1em;
}

#filters .barItem {
	white-space: nowrap;
}





/*---popup with book info---*/
.overlay {
	background-color: #fff;
	width: 50%;
  padding: 1rem;
  z-index: 100000;
  font-size: 0.8rem;
	border-radius: 5px;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.28);
}

.overlay-wrapper{
	display:flex;
	flex-wrap:wrap;
}

.overlay h1 {
	font-size: 18px;
	margin: 0;
}

.overlay h2 {
	font-size: 16px;
	display: inline-block;
	margin-right: 0.5em;
	font-weight: 600;
}

.overlayHeader {
}

.overlayInfoDiv {
	margin-bottom: 0px;
	display: flex;
	margin-bottom:10px;
	flex-wrap:wrap;
}

.overlayInfoDiv p {
	margin:0;
	align-self: center;
	margin-right:5px;
}

.overlayInfoDiv > p span:first-child {
}

.overlayInfoDiv p span:not(:first-child) {
	text-transform: lowercase;
}

.overlay .closer::after{
	color: $iconHighlight;
}

.filteredOutMessage{
	color: #666;
	font-style: italic;
	margin-top: 0px;
}

/*---chips in the overlay---*/
.chipHolder {
	display: inline-block;
	cursor: default;
	position: relative;
	margin-right:10px;
}

.chip {
	background-color: #444;
  color: #fff;
	border-radius: 3px;
	font-weight: 400;
	font-size:14px;
}

.chip.unselectedFilter {
	background-color: #fff;
  color: #444;
	border-radius: 3px;
	background: #efefef;
	color: black;
	border: none;
}

.chip p {
	margin: 0px;
}

.chip p:first-child {
    padding: 5px 8px;
}

.chip .funnelIcon::after {
	-webkit-mask-image:  url("~./../images/filter.svg");
    mask-image:  url("~./../images/filter.svg");
	cursor: pointer;
	display:none;
}

.chipSelectionHolder{
	background-color: #fff;
	color: #000;
	position: absolute;
	font-size: 0.4rem;
	width: 100%;
}

/*---our openseadragan canvas---*/
#openseadragon {
	width: 100%;
  height: calc(100% - 3.5em);
  top: 1.5em;
  position: absolute;
  margin-bottom: 0px;
  padding: 0px;
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

#openseadragon:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#selected {
	visibility: hidden;
	min-width: 150px;
}

@media (max-width: 950px){

	#selected {
		display: none;
	}
}


@media (max-width: 800px){
	#filters {
		.barItem{
			width:23%;
			@media (max-width: 700px){
			}
		}
	}

	.results button {
		font-size: 12px;
		padding: 1px 2px 2px;
	}

}

@media (max-width: 600px){
	#bottomBar {
	}


	.barItem#title h3{
		white-space: normal;
	}
}

@media (max-width: 550px), (max-device-width: 600px){
	html, body, .main {
		font-size: calc(0.8em + 0.6vw);
	}

	.results .count {
		display: none;
	}

	.results .valName {
		margin-right: 0px;
	}

	#filters .barItem h3 {
	}

	.valName{
		max-width: 21vw;
	}

}

@media (max-width: 475px), (max-device-width: 500px){

	.results button {
		display: none;
	}

	#filters .barItem {
    	padding-left: 0.5em;
			button {
				visibility: hidden;
			}
	}

	#filters {
		padding-bottom: 2em;
	}

	#clearAll {
		display: none;
		bottom: 0.5em;
  	margin-left: 0.8em;
  	width: calc(100% - 1.6em);
    position: absolute;
		visibility: visible;
	}

	.resultHolder {
		font-size: 0.85em;
	}
}

@media (max-width: 360px), (max-device-width: 360px){
	#filters .barItem {
    	padding-left: 0.2em;
    }

	#bottomBar {
		max-height: 5em;
	}

	#filters .barItem h3 {
	}


}
