html, body, .main {
	width: 100%;
	height: 100%;
	margin:0 auto;
	padding: 0px;
	font-family: 'Work Sans', sans-serif;
	background-color: #000;
}

.main {
	position: absolute;
	left: 0px;
	width: calc(100% - 275px);
}

.main #mainCanvas {
	width: 100%;
	height: 100%;
}

.filterControls {
	overflow: hidden;
}

.filterList .widgetHolder {
	overflow: visible;
}

/*SVG elements CSS*/

.filterBar {
	stroke: #ea0051;
	stroke-width: 2px;
}

#stripe path {
	stroke: #ea0051;
	stroke-width: 2px;
}


.barFilteredNum, .barTotalNum {
	text-align: right;
}

.barFilteredNum {
	color: #ea0051;
}

/*Control Panel CSS*/

.controls {
	padding: 12px 8px 12px 8px;
	position: fixed;
	right: 0px;
	top: 0px;
	width: 275px;
	height: 100%;
	background-color: #d1d1d1;
	font-size: 60%;
	display: flex;
	flex-direction: column;
}

.filterControls {
	display: grid;
	overflow: hidden;
}

.controls h1, h2, h3 {
	font-weight: normal;
}

.controls h2, h3 {
	margin-top: 0px;
}

.controls h2 {
	margin-bottom: 0px;
	height:20px;
}

.tableHolder {
	overflow: scroll;
	width: 100%;
	height: calc(100% - 30px);
}

.widgetHolder {
	margin-bottom: 15px;
	float: left;
	overflow: hidden;
}

.widgetHolder svg {
	width: 100%;
}

.widgetHolder svg g {
	cursor: pointer;
}

.widgetHolder svg foreignObject p {
	margin: 0px;
	display: inline;
}

.widgetHolder svg .selected {
	font-weight: bold;
}

.widgetHolder svg .selected .barName p {
	border-bottom: 2px solid #ea0051;
}

.widgetHolder {
	width: 100%;
}

.overlay {
	background-color: #fff;
	width: 50%;
    margin-top:-100px;
    padding: 10px;
    z-index: 100000;
}

.overlay h1 {
	font-size: 1.5em;
}

.overlay h2 {
	font-size: 1.25em;
}

#mainSearch {
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

#bookSearch {
	width: 100%;
	box-sizing: border-box;
}

.searchResults {
	max-height: 275px;
	overflow: auto;
	position: absolute;
	background-color: #fff;
	z-index: 2;
	box-sizing: border-box;
    width: 100%;
    padding: 0.75em;
}

.hidden{
	display: none;
}

.searchEntry {
	border-bottom: 2px solid;
	cursor: pointer;
}

.searchEntry h4, .searchEntry h5 {
    margin: 0.5em;
    font-size: 1.25em;
    pointer-events: none;
}

.searchEntry h5 {
	font-weight: normal;
}

#openseadragon {
	width: calc(100% - 275px); 
	height: 100%;
}

/*active filters styles*/
.chipHolder {
	display: inline-block;
	cursor: default;
	position: relative;
	margin: 0px 5px 5px 0px;
}

.chip {
	background-color: #ea0051;
    color: #fff;
}

.chip p {
	margin: 0px;
}

.chip p:first-child {
    padding: 5px 8px;
}

.dropDown .chipToggler::before {
	display: inline-block;
	width: 15px;
	content: "\f107";
	font-family: FontAwesome;
	cursor: pointer;
	text-align: right;
}

.chip.dropDown.closed .chipToggler::before {
	content: "\f106";
}


.chipCloser::before {
	display: inline-block;
	width: 15px;
	content: "\f057";
	font-family: FontAwesome;
	cursor: pointer;
}

.chipSelectionHolder{
	background-color: #fff;
	color: #000;
	position: absolute;
	font-size: 0.4em;
	width: 100%;
}

.chip.dropDown.closed .chipSelectionHolder {
	display: none;
}
